* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  padding: 0;
  margin: 0; }

.scale-with-grid2 {
  width: 100%; }

.title {
  font-family: "Helvetica", Arial, sans-serif; }

hr {
  border-width: 1px;
  margin: 10px 0 5px 0;
  padding: 0; }

.center {
  text-align: center; }

div.header {
  background: silver;
  padding: 4px; }

.visible {
  border: 1px dotted red;
  background: silver; }

.right {
  text-align: right; }

.testImage {
  width: 100%;
  background: silver; }

#short {
  height: 200px; }

#tall {
  height: 400px; }

.full {
  position: relative;
  width: 100% auto;
  margin: 0 auto;
  padding: 0; }

.footer {
  background: silver;
  color: gray; }

.add-padding {
  padding-top: 40px;
  padding-bottom: 40px; }

.add-margin {
  margin-top: 40px;
  margin-bottom: 40px; }

#close-line {
  line-height: 30px; }

.navBar {
  position: fixed;
  width: 100%;
  margin: 0px auto 0px 0px;
  top: 0px;
  height: 25px;
  padding: 10px;
  z-index: 20;
  background: silver; }

.footer a {
  color: inherit;
  text-decoration: none; }

.footer a:hover {
  color: black; }

.fade img {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out; }

.fade img:hover {
  opacity: 0.75; }

.logocontainer {
  position: relative;
  top: -20px;
  z-index: 2000; }

.logocontainer img {
  -webkit-animation: dangle 3s ease-in-out infinite;
  -moz-animation: dangle 3s ease-in-out infinite;
  animation: dangle 3s ease-in-out infinite; }

@-webkit-keyframes dangle {
  50% {
    -webkit-transform: translate(0, -10px); } }
/* #Media Queries================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .blurb {
    font-size: 30px;
    line-height: 1.25em; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
